{% extends 'base/main.html' %}

{% block content %}
<body>
    <header>
        <div id="headerLeft">
            <div id="midLine">

            </div>
            <div id="welcome">
                <span>WELCOME TO</span>
                <br>
                <span>Grid Reputation</span>
                <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, quaerat! Suscipit, aperiam delectus officia adipisci expedita unde minus quidem vitae facilis debitis numquam rerum quia dolore dignissimos sapiente assumenda laboriosam velit libero consequatur, doloremque laborum saepe dolor? Voluptate, commodi maiores?
                <br>
                <br>
                <span>
                    EXPLORE OUR SERVICES BELOW
                </span>
                <div id="explore">
                    Explore now <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div id="headerRight">
            <div id="innerImage">

            </div>
        </div>
    </header>
    <section id="services">
        <div class="service" id="ser">SERVICES
            <br>
            <span>WE OFFER</span>
        </div>
        <div class="service" id="app">
           <div id="innerApp">
            <i class="fa-brands fa-android"></i>
            App <br> Deveplement</div>
           </div>
        <div class="service" id ="rep" onclick="">Rep <br>Management</div>
        <div class="service" id="seo">SEO</div>
        <div class="service" id="content">Content <br>Writing</div>
    </section>
</body>
<script src="https://kit.fontawesome.com/0ac8d96b33.js" crossorigin="anonymous"></script>

{% endblock content %}
