<!-- <center><a href="{% url 'home' %}"><h1>Company Name#1234</h1></a></center>
<marquee behavior="" direction="right"></marquee>

    <style>
        .nav{
            display: grid;
            grid-template-columns: 1fr  1fr 1fr 1fr;
        }
    </style>

    <div>
        <h4 align="left">Welcome 2 .....</h4>
    </div>
    <div class="nav">
        <h4 ><a href="{% url 'home' %}">Home</a></h4>
        <h4 ><a href="">More Services</a></h4>
        <h4 ><a href="{% url 'book' %}?t=consult">Consult Now</a></h4>
        <h4 ><a href="">About Us</a></h4>
    </div>
<hr> -->




<nav>
    <div id="navLeft">
        <a href="{% url 'home' %}">Grid Reputation</a>
    </div>
    <div id="navMid">
        <a href="{% url 'home' %}">HOME</a>
        <a href="{% url 'more_services' %}">MORE SERVICES</a>
        <a href="">ABOUT US</a>
    </div>
    <div id="navRight">
        <a href="{% url 'book' %}?t=consult">Consult Now</a>
    </div>
</nav>
